@charset "utf-8";
/* =======================================

	 ver.141225a

======================================== */




/* ------------------------------------
	CommonElements
------------------------------------ */
html{-webkit-text-size-adjust: none}

body
{
	position: relative;
	color: #fff;
	text-align: center;
	background: #003;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
body, input, textarea, select
{
	font-family: Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'モリサワ 新ゴ R', 'Droid Sans', 'Meiryo UI', 'sans-serif';
	font-size:14px;
	font-weight: bold;
}
input, textarea
{
	text-shadow: none;
	font-weight: normal;
}
textarea
{
	line-height: 18px;
}
select
{
	border-radius: 1px;
	font-weight: normal;
	outline: none;
}

div,a{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a{text-decoration:underline; color: #fff;}
a:focus{overflow: visible;}

/* ------------------------------------
	ClearFixElements
------------------------------------ */
.clearfix:after
{
	content: ".";
	height: 0;
	line-height:0;
	font-size:0;
	clear: both;
	display: block;
	visibility: hidden;
}


/* ------------------------------------
	共通要素
------------------------------------ */
#container
{
	width:320px;
	margin: 0 auto;
	background: #336;
	overflow: hidden;
}


/* ------------------------------------
	リンク
------------------------------------ */
a
{
	color: #02c1c8;
	text-decoration: underline;
}



/* ------------------------------------
	汎用
------------------------------------ */
.dblc{display: block;}
.dilb{display: inline-block;}

.posr{position:relative;}
.posa{position:absolute;}
.topleft{ top: 0; left: 0; }
.topright{ top: 0; right: 0; }
.bottomleft{ bottom: 0; left: 0; }
.bottomright{ bottom: 0; right: 0; }

.clear{ clear: both; }

.fl{float:left;}
.fr{float:right;}

.fwn{font-weight: normal}
.fwb{font-weight: bold;}

.fcwhite      {color:#fff;}
.fcblue       {color:#00ffff;}
.fclightblue  {color:#3399ff;}
.fcbrightblue {color:#33ccff;}
.fcdarkblue   {color:#02c1c8;}
.fcblackblue  {color:#004d77;}
.fcblack      {color:#000;}
.fcyellow     {color:#ffff33;}
.fcgrayyellow {color:#cccc00;}
.fcdarkyellow {color:#c4b417;}
.fcyellowGreen{color:#ccff33;}
.fcpink       {color:#ff3399;}
.fcredpink    {color:#ff0066;}
.fcred        {color:#cc0000;}
.fcvividred   {color:#f00;}
.fcorange     {color:#ffcc00;}
.fcblackaqua  {color:#003333;}

.fs10{font-size: 10px !important;}
.fs11{font-size: 11px !important;}
.fs12{font-size: 12px !important;}
.fs14{font-size: 14px !important;}
.fs18{font-size: 18px !important;}
.fs20{font-size: 20px !important;}
.fs24{font-size: 24px !important;}

.lh10{line-height: 10px;}
.lh12{line-height: 12px;}
.lh14{line-height: 14px;}
.lh16{line-height: 16px;}
.lh18{line-height: 18px;}
.lh20{line-height: 20px;}
.lh22{line-height: 22px;}
.lh24{line-height: 24px;}

.tar{text-align: right !important;} /* 後付け優先 */
.tac{text-align: center !important;} /* 後付け優先 */
.tal{text-align: left !important;} /* 後付け優先 */

.indent{padding-left:1em; text-indent:-1em;}/*インデント*/

.mt1{margin-top: 1px;}
.mt2{margin-top: 2px;}
.mt3{margin-top: 3px;}
.mt5{margin-top: 5px;}
.mt6{margin-top: 6px;}
.mt7{margin-top: 7px;}
.mt8{margin-top: 8px;}
.mt9{margin-top: 9px;}
.mt10{margin-top: 10px;}
.mt11{margin-top: 11px;}
.mt13{margin-top: 13px;}
.mt14{margin-top: 14px;}
.mt15{margin-top: 15px;}
.mt18{margin-top: 18px;}
.mt20{margin-top: 20px;}
.mt24{margin-top: 24px;}
.mt28{margin-top: 28px;}
.mt30{margin-top: 30px;}
.mt60{margin-top: 60px;}
.mt70{margin-top: 70px;}
.mt100{margin-top: 100px;}

.nmt2{margin-top: -2px;}
.nmt4{margin-top: -4px;}
.nmt6{margin-top: -6px;}
.nmt8{margin-top: -8px;}
.nmt10{margin-top: -10px;}
.nmt14{margin-top: -14px;}
.nmt18{margin-top: -18px;}
.nmt20{margin-top: -20px;}
.nmt24{margin-top: -24px;}
.nmt30{margin-top: -30px;}
.nmt36{margin-top: -36px;}
.nmt40{margin-top: -40px;}
.nmt50{margin-top: -50px;}
.nmt60{margin-top: -60px;}
.nmt70{margin-top: -70px;}
.nmt80{margin-top: -80px;}

.mb1{margin-bottom: 1px;}
.mb2{margin-bottom: 2px;}
.mb3{margin-bottom: 3px;}
.mb5{margin-bottom: 5px;}
.mb7{margin-bottom: 7px;}
.mb8{margin-bottom: 8px;}
.mb9{margin-bottom: 9px;}
.mb10{margin-bottom: 10px;}
.mb11{margin-bottom: 11px;}
.mb13{margin-bottom: 13px;}
.mb14{margin-bottom: 14px;}
.mb18{margin-bottom: 18px;}
.mb60{margin-bottom: 60px;}
.mb70{margin-bottom: 70px;}
.mb100{margin-bottom: 100px;}

.nmb2{margin-bottom: -2px;}
.nmb4{margin-bottom: -4px;}
.nmb6{margin-bottom: -6px;}
.nmb10{margin-bottom: -10px;}
.nmb20{margin-bottom: -20px;}
.nmb25{margin-bottom: -25px;}
.nmb30{margin-bottom: -30px;}
.nmb40{margin-bottom: -40px;}

.ml1{margin-left: 1px;}
.ml2{margin-left: 2px;}
.ml3{margin-left: 3px;}
.ml4{margin-left: 4px;}
.ml5{margin-left: 5px;}
.ml6{margin-left: 6px;}
.ml7{margin-left: 7px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}

.pd0{padding: 0px !important;}
.pd5{padding: 5px !important;}
.pd10{padding: 10px;}
.pd20{padding: 20px;}

.pt2{padding-top: 2px;}
.pt5{padding-top: 5px;}
.pt7{padding-top: 7px;}
.pt8{padding-top: 8px;}
.pt13{padding-top: 13px;}
.pt14{padding-top: 14px;}
.pt18{padding-top: 18px;}
.pt44{padding-top: 44px;}
.pt70{padding-top: 70px;}

.pb2{padding-bottom: 2px;}
.pb5{padding-bottom: 5px;}
.pb7{padding-bottom: 7px;}
.pb13{padding-bottom: 13px;}
.pb14{padding-bottom: 14px;}
.pb18{padding-bottom: 18px;}

.disabled{pointer-events: none;} /*マウスイベントを無効に*/

.boxshadow
{
	-webkit-box-shadow: 2px 2px 6px #000;
	box-shadow: 2px 2px 6px #000;
}

.textshadow
{
	text-shadow: 0px 2px 2px rgb(0,0,0,0.2) !important;
}
.notextshadow
{
	text-shadow: none;
}

.txtunderline
{
	text-decoration: underline;
}

.tint
{
	opacity: 0.5;
}

.fixed { table-layout: fixed !important; }
.cell  { display: table-cell !important; height: 100%; }
.middle{ vertical-align: middle !important; }

.wordbreak{word-break: break-all;}

/* 背景 */
.bg.transparent{ background-color: transparent; }
.bg.black      { background-color: #000; }
.bg.darkblue   { background-color: #004d77; }
.bg.deepblue   { background-color: #173851; }
.bg.blackblue  { background-color: #001f2f; }
.bg.blue       { background-color: #004d77; }
.bg.yellow     { background-color: #cccc00; }
.bg.blackyellow{ background-color: #292900; }
.bg.aqua       { background-color: #02c1c8; }
.bg.blackaqua  { background-color: #002728; }

/* ボーダー */
bd.white    { border-color: #fff; }
.radius0    { border-radius: 0px; }
.radius2    { border-radius: 2px; }
.radius3    { border-radius: 3px; }
.radius6    { border-radius: 6px; }


/**/
.horizontal, .vertical
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
}
/* 内容を横並び */
.horizontal
{
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
}

/* 内容を縦並び */
.vertical
{
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
}


/* 要素の上に表示する */
.cover
{
	position: relative;
}
.cover::after
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cover.black::after /* 暗くする */
{
	background-color: rgba(0,0,0,0.8);
}




/* ------------------------------------
	テスト用
------------------------------------ */
.title
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 36px;
	border: 2px solid #fff;
	border-radius: 5px 5px 0 0;
	line-height: 32px;
	color: #fff;
	background: #66a;
}
.box
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border: 2px solid #fff;
	border-radius: 5px;
	color: #333;
	background: #fff;
}
.title + .box{border-radius: 0 0 5px 5px;}

/* ステータス表示box */
.box .main
{
	margin-top: -4px;
	border-radius: 3px;
	color: #fff;
	background: #336;
}
.box .namebox
{
	padding: 5px;
	border-radius: 3px 3px 0 0;
	font-size: 12px;
	line-height: 14px;
	color: #ff0;
	background: #e00;
}
.box .namebox .user_name
{
	height: 22px;
	line-height: 24px;
	font-size: 18px;
	color: #fff;
}
.box .user_job_img
{
	margin-top: 14px;
}
.box .guagebox
{
	padding: 5px 5px 10px;
}

/* ステータス表示テーブル */
table
{
	width: 100%;
	text-shadow: none;
}
table.property
{
	border: 1px solid #1b1b1b;
}
table.property tr
{
	line-height: 1.4em;
}
table.property tr th, table.property tr td
{
	padding: 0.5em;
	border: 1px solid #1b1b1b;
}
table.property tr th
{
	width: 70px;
	background: #cc0;
}
table.property tr td
{
	background: #ccc;
}

/* ボタン */
.btn
{
	display: inline-block;
}
.btn a
{
	display: block;
	width: 296px;
	height: 42px;
	border: 2px solid #aaa;
	border-radius: 24px;
	line-height: 42px;
	color: #fff;
	text-decoration: none;
	background: #a66;
	box-shadow: 0 -18px 2px 2px rgba(200,0,0,0.6) inset;
	-webkit-box-shadow: 0 -18px 2px 2px rgba(200,0,0,0.6) inset;
}
.btn a:hover
{
	border: 2px solid #fff;
	background: #eaa;
	box-shadow: 0 -18px 2px 2px rgba(200,0,0,0.4) inset, 0 0 7px 3px rgba(255,255,255,0.6);
	-webkit-box-shadow: 0 -18px 2px 2px rgba(200,0,0,0.4) inset, 0 0 7px 3px rgba(255,255,255,0.6);
}
.btn.medium a
{
	width: 250px;
	height: 36px;
	line-height: 36px;
	box-shadow: 0 -14px 2px 2px rgba(200,0,0,0.6) inset;
	-webkit-box-shadow: 0 -14px 2px 2px rgba(200,0,0,0.6) inset;
}
.btn.medium a:hover
{
	box-shadow: 0 -14px 2px 2px rgba(200,0,0,0.4) inset, 0 0 7px 3px rgba(255,255,255,0.6);
	-webkit-box-shadow: 0 -14px 2px 2px rgba(200,0,0,0.4) inset, 0 0 7px 3px rgba(255,255,255,0.6);
}




/* ------------------------------------
	テスト用フォーム
------------------------------------ */
/* ユーザー番号選択 */
form select
{
	width: 150px;
	height: 36px;
	padding: 0 7px;
}


/* パラメータ変更フォーム */
table.form
{
	margin-top: -10px;
	border: none;
	color: #666;
}
table.form th, .form td
{
	padding: 5px;
}
table.form th
{
	width: 70px;
	padding-top: 13px;
}
table.form input, table.form textarea
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 5px 7px;
	color: #000;
}
table.form select
{
	width: 100%;
}
table.form .radiowrap
{
	display: table;
	width: 100%;
	text-align: center;
}
table.form .radiowrap .radiobtn
{
	display: table-cell;
	padding: 7px 0;
	line-height: 18px;
}
table.form input[type="radio"]
{
	display: inline-block;
	width: auto;
	margin-left: -15px;
	vertical-align: top;
}
table input[type="submit"]
{
	display: inline-block;
	width: 100px;
	height: 36px;
	font-weight: bold;
}




/* ------------------------------------
	ダンジョン
------------------------------------ */
.list.dungeon li
{
	position: relative;
	color: #fff;
}
.list.dungeon li + li
{
	margin-top: 11px;
}
.list.dungeon li > a
{
	display: block;
	position: relative;
	color: #fff;
	
}
.list li > a:hover, .list li > a.touchstart
{
	-webkit-transform: scale(0.98);
}
.list.dungeon li .label
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.list.dungeon li .label span
{
	display: inline-block;
	position: absolute;
	z-index: 1;
	padding: 3px 5px;
	border-radius: 3px;
	background: rgba(0,0,0,0.8);
}
.list.dungeon li .label .area_num
{
	left: 5px;
	top: 5px;
	font-size: 12px;
	color: #ff0;
}
.list.dungeon li .label .area_name
{
	right: 5px;
	bottom: 5px;
	font-size: 16px;
}
.list.dungeon li .img
{
	position: relative;
	z-index: 0;
}
.list.dungeon li .txt
{
	display: table;
	width: 100%;
	color: #333;
}
.list.dungeon li .txt > span
{
	display: table-cell;
	width: 40%;
	padding: 3px 10px;
	text-align: left;
}
.list.dungeon li .txt > span:last-child
{
	width: 60%;
	text-align: right;
}
.list.dungeon li .txt > span .icon.star
{
	color: #f00;
}





